/* < sm */
@media (max-width: 575px) {
  .sidebar .table-hasAddress td.address-copier {
    max-width: calc(100vw - 11rem);
  }
}
/* > sm */
@media (min-width: 576px) {
  .sidebar .table-hasAddress td.address-copier {
    max-width: calc(540px - 9.5rem);
  }
}
/* < md */
@media (max-width:767px) {
  .sidebar-md {
    /* under md, sidebar become to original col */
    width       : 100%;
    margin-left : 15px;
    margin-right: 15px;
  }

  .trader-info-img {
    min-width              : calc(100% - 30px);
    background-size        : cover;
    background-attachment  : fixed;
    background-position    : calc(80% - 10px) 3rem;
    border-top-left-radius : calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height                 : 400px;
  }

  .trader-info-card .col:first-child {
    margin-left : 15px;
    margin-right: 15px;
  }

  .trader-info-card .col:last-child {
    margin-right: 15px;
    margin-left : 15px;
  }
}
/* > md */
@media (min-width: 768px) {
  .sidebar-md {
    position   : sticky;
    top        : 3.7rem;
    /* Minus exactly the same as `top` above */
    height     : calc(100vh - 3.7rem);
    width      : 40%;
    /* Leave margin for simple scroll bar */
    margin-left: 15px;
  }

  .sidebar-md .card {
    /* Use margin instead of padding to hide stock scroll bar */
    margin-right : 25px;
    margin-bottom: 1rem;
  }

  .sidebar-md .table-hasAddress td.address-copier {
    max-width: calc(720px *0.4 - 9.5rem);
  }

  .sidebar-lg .table-hasAddress td.address-copier {
    max-width: calc(720px - 9.5rem);
  }

  .trader-info-img {
    max-width                : 500px;
    background-size          : 500px;
    background-attachment    : fixed;
    background-position      : calc(50% - 170px) 3.7rem;
    border-top-left-radius   : calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
  }

  .trader-info-card .col:first-child {
    margin-left: 15px;
  }

  .trader-info-card .col:last-child {
    margin-right: 15px;
  }
}
/* < lg */
@media (max-width:992px) {
  .sidebar-lg {
    /* under lg, sidebar become to original col */
    width       : 100%;
    margin-left : 15px;
    margin-right: 15px;
  }
}
/* > lg */
@media (min-width: 992px) {
  .sidebar-lg {
    position   : sticky;
    top        : 3.7rem;
    /* Minus exactly the same as `top` above */
    height     : calc(100vh - 3.7rem);
    width      : 40%;
    /* Leave margin for simple scroll bar */
    margin-left: 15px;
  }

  .sidebar-lg .card {
    /* Use margin instead of padding to hide stock scroll bar */
    margin-right : 25px;
    margin-bottom: 1rem;
  }

  .sidebar .table-hasAddress td.address-copier {
    max-width: calc(960px *0.5 - 9.5rem);
  }

  .sidebar {
    width: 50%;
  }

  .trader-info-img {
    background-position: calc(50% - 250px) 3.7rem;
  }
}
/* < xl */
@media (max-width: 1199px) {
  .sidebar+.card-columns {
    -webkit-column-count: 1;
    -moz-column-count   : 1;
    column-count        : 1;
  }
}
/* > xl */
@media (min-width: 1200px) {
  .sidebar .table-hasAddress td.address-copier {
    max-width: calc(1140px *0.4 - 9.5rem);
  }

  .sidebar {
    width: 40%;
  }

  .sidebar+.card-columns {
    -webkit-column-count: 2;
    -moz-column-count   : 2;
    column-count        : 2;
  }

  .trader-info-img {
    background-position: calc(50% - 304px) 3.7rem;
  }
}
/* > xxl */
@media (min-width: 1440px) {
  .container-xxl,
  .container-xxxl {
    max-width: 1380px;
  }

  .container-xxl .container-xxl .sidebar .table-hasAddress td.address-copier,
  .container-xxxl .container-xxxl .sidebar .table-hasAddress td.address-copier {
    max-width: calc(1380px *0.4 - 9.5rem);
  }

  .trader-info-img {
    background-position: calc(50% - 424px) 3.7rem;
  }
}
/* > xxxl */
@media (min-width: 1680px) {
  .container-xxxl {
    max-width: 1600px;
  }

  .container-xxxl .container-xxxl .sidebar .table-hasAddress td.address-copier {
    max-width: calc(1600px *0.3 - 10.5rem);
  }

  .container-xxxl .sidebar+.card-columns {
    -webkit-column-count: 3;
    -moz-column-count   : 3;
    column-count        : 3;
  }

  .container-xxxl .sidebar {
    width: 35%;
  }

  .trader-info-img {
    background-position: calc(50% - 535px) 3.7rem;
  }
}

.sidebar+.col.card-columns {
  /*
   * @bug In chrome, when you load in large screen \
   *      later you resize screen smaller to trigger column-count \
   *      then you'll see cards overflew
   *
   * @fix This can be fixed in normal card-columns by width:100% \
   *      but when also apply .col, it works until width:0
   */
  width: 0;
}

[data-toggle="tooltip"] button:disabled {
  /* For activate tooltip normally upon disable `button` */
  pointer-events: none;
}

.address-copier {
  cursor     : pointer;
  white-space: nowrap;
}

.table-hasAddress td.address-copier {
  /* Reset padding of `address-copier` */
  /* Just for padding */
  padding-bottom: 0.45rem;
  /* Hide stock scroll bar */
  padding-right : 0;
  /* Use margin instead of margin */
  padding-left  : 0;
  margin-left   : 0.75rem;
  /* @bug Disable `td` line drawing for doubled border*/
  border-top    : 0;
}

.table-hasAddress tr {
  /* @bug Use `tr` line drawing instead of `td` above */
  border-top: 1px solid #dee2e6;
}

.trader-info-card .col {
  padding: 0;
}